<% layout("layouts/boilerplate") -%>
    <!-- this line will implement boilerplate.ejs in all pages -->

    <!-- SHOW ROUTE : to READ a particular data using GET request  -->
    <!-- data is stored in variable listing -->

    <!-- Ye page ke saare content ko row aur col class ke ander karne se sab bich mein aa jata hai -->
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h1>Listing details</h1>
        </div>
        <div class="card col-6 offset-3">
            <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text">
                    <b>
                        <%= listing.title %>
                    </b> <br>
                    <%= listing.title %> <br>
                        <%= listing.description %> <br>
                            &#8377; <%= listing.price.toLocaleString("en-IN") %> <br>
                                <%= listing.location %> <br>
                                    <%= listing.country %> <br>
                </p>
            </div>
        </div>

    </div>

    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
        <b></b>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
